<!--
 * @Author: bruceyan
 * @Date: 2021-08-09 21:49:29
 * @LastEditTime: 2021-08-12 10:13:02
 * @LastEditors: bruceyan
 * @Description: 
 * @FilePath: \doc\编程\vue\11条件渲染\1条件渲染.html
 * 
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>1条件渲染</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <div id="root">
        <!-- v-show true false -->
        <h1 v-show="show">欢迎你！！v-show</h1>
        <br />
        <h1 v-if="show">欢迎你！！v-if</h1>
        <br />
        <hr />
        <h1 v-show="n%2==1">欢迎你！！v-show{{n}}</h1>
        <br />
        <hr />
        <h1 v-if="n%2==0">欢迎你！！v-if {{n}}</h1>
        <br />
        <button @click="n++">点击我</button>
        <div v-show="n === 1">a</div>
        <div v-show="n === 2">b</div>
        <div v-show="n === 3">c</div>
        <div v-if="n === 1">aa</div>
        <div v-else-if="n === 2">bb</div>
        <div v-else-if="n === 3">cc</div>
        <div v-else>dd</div>


        <!-- <div v-show="n ===1">
            <h2>你好</h2>
            <h2>中国</h2>
            <h2>学校</h2>
        </div> -->
        <template v-if="n ===1">
            <h2>你好</h2>
            <h2>中国</h2>
            <h2>学校</h2>
        </template>
    </div>
</body>
<script type="text/javascript">

    Vue.config.productionTip = false //阻止vue 在启动是生成生产提示

    const vm = new Vue({
        el: ' #root', //用于指定当前vue实例为那个容器服务，值通常为css选择器字符串
        data: {
            name: "main",
            show: true,
            n: 0
        },
        methods: {}
    })
</script>

</html>